body{
    background-color: #F4D04E;
}
*{
    box-sizing: border-box;
}
 /* stert font  */
@font-face {
    font-family: "Figtree01";
    src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Figtree02";
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Figtree03";
    src: url(/assets/fonts/static/Figtree-ExtraBold.ttf);
}
@font-face {
    font-family: "Figtree04";
    src: url(/assets/fonts/static/Figtree-SemiBold.ttf);
}
/* end font  */
.card{
    background-color: white;
    width: 384px;
    height: 522px;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    border: solid #111111 1px ;
    box-shadow: 7px 7px #111111 ;
    margin-top: 70px;
}
.image{
    width: 100%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
.learning{
    display: inline-block;
    background-color: #F4D04E;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
    font-family:Figtree03 ;
}
.contct p{
    font-size: 14px;
    font-family: Figtree02;
}
span{
    font-family: figtree03;
    font-size: 24px;
}
span:hover{
    color: #F4D04E;
}
.contct p:last-of-type{
    color:#6B6B6B ;
    font-family: Figtree02;
    font-size: 16px;
}
/* start footer  */
.footer{
    display: flex;
    font-size: 14px;
    font-weight: bold; 
    margin-top: 10px;
    align-items: center;
}
.footer p{
    padding: 5px;
    margin-left: 5px;
    font-family: Figtree03;
}
.footer img{
    display: inline;
    width: 32px;
    height: 32px;
}   
/* end footer  */